img {
    height: 20px;
    width: 20px;
    border: 1px solid rgb(228, 231, 235);
    border-radius: 50%;
    display: block;
    object-fit: cover;
  }
  .currency-content {
    position: relative;  
    color: rgb(23, 25, 36);
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    white-space: normal;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 100%;
  
    
    .currency-label {
      color: rgb(88, 102, 126);
      text-transform: uppercase;
    }
  }
  .selected {
      background-color: rgb(239, 242, 245);
    }
  
  .currency-content:hover {
    
    padding: 0.5rem;  
    background-color: rgb(239, 242, 245);
  }
  .title-label {
      color: rgb(166, 176, 195);
      font-size: 12px;
  }
  .currency-check {
      position: absolute;
      right: 0;
      align-items: center;
      justify-content: center;
      top: 25%;
  }