.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .app-header {
    height: 60px;
  }

  .page-content {
    height: 60px;
    display: flex;
    flex: 1; // fit content

    overflow-y: auto; // nếu dư thì overflowx
  }

  .app-footer {
    height: 60px;
    background-color: black;
  }
}
